In [26]:
a=10
b=10.5
c="Hello World" 
d=True #Boolean

In [27]:
print(a)
print(b)
print(c)
print(d)

10
10.5
Hello World
True

In [28]:
print(a,b,c,d)

10 10.5 Hello World True

In [29]:
# Basic operators in python
#    +(Addition)    -(substraction)    /(float division)     //(integer division)    **(power)      %(remainder)

In [30]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [1]:
a=10
b=2
c=a//b  # single division is float division. #double division is integer division.
print(c)

5

In [ ]:
p=10000
t=2.5
r=10

i=p*t*r/100
print("The value of simple interest (i) = ",i)

In [ ]:
a=input()

In [ ]:
fname=input("Enter fname = ")
lname=input("Enter lname = ")
a = fname + " " + lname
print(a)

In [ ]:
a = "Hello "
b = "World"
c = a + b
print(c)

In [ ]:
a = "10"
b = "20"
c = a + b #String sets side by side while + operator is used
print(c)

In [ ]:
a=10
b=str(a)
c=float(a)
print(a)
print(b)
print(c)

In [2]:
name=input("Enter name = ")
address=input("Enter address = ")

print("Hello World I am",name,"I am from",address,".") #commea concatenates with space around.
print("Hello World I am"+name+"I am from"+address+".")

Enter name = Pukar
Enter address = Kathmandu
Hello World I am Pukar I am from Kathmandu .
Hello World I amPukarI am fromKathmandu.

In [ ]:
name=input("Enter name = ")
address=input("Enter address = ")
age=int(input("Enter age = "))
print("Hello World I am"+name+" I am from"+address+"."+"I am "+str(age)+" years old.")

In [ ]:
print(10>20)

In [3]:
a=13
a%2==0     #   % returns remainder

False

In [ ]:
#IF ELSE STATEMENT

In [ ]:
#WAP TO FIND WHETHER THE NUMBER GIVEN BY USER IS EVEN OR ODD
a=int(input("Enter a = "))
if a%2==0:
    print(a,"is even")
else:
    print(a,"is odd")

In [ ]:
#WAP TO FIND THE GREATEST NUMBER AMONG TWO
a=int(input("Enter a = "))
b=int(input("Enter b = "))
if a>b:
    print(a,"is greater")
elif b>a:
    print(b,"is greater")
else:
    print("Both are equal")

In [ ]:
# WAP TO MAKE A CALCULATOR USING LADDER IF
a=int(input("Enter a = "))
b=int(input("Enter b = "))
o=input("Enter operator(+ - * /)")
if o=='+':
    print("The sum is",a+b)
elif o=='i':
    print("The difference is",a-b)
elif o=='*':
    print("The product is",a*b)
elif o=='/':
    if b!=0:
        print(a/b)
    else:
        print("value of b cannot be zero")
else:
    print("Invalid operator")

In [ ]:
a=True
b=True
print(a+b)
print(a*b)
print(a/b)

In [ ]:
# and-->&(ampersand). and keyword can also be 
# or-->|(pipe). Or keyword can also be used

In [ ]:
True and False

In [ ]:
False or True

In [ ]:
#Wap to find the greatest number of all three using if,elif, and else
a=int(input("Enter a = "))
b=int(input("Enter b = "))
c=int(input("Enter c = "))
if a>b and a>c:
    print(a,"is greater")
elif b>a and b>c:
    print(b,"is greater")
elif c>a and c>b:
    print(c,"is greater")
elif a==b or b==c or a==c:
    if a>c and b>c:
        print(a,"and",b,"both are greater")
    elif b>a and c>a:
        print(b,"and",c,"both are greater")
    elif c>b and a>b:
        print(c,"and",a,"both are greater")
    else:
        print(a,"",b,"and",c,"all are greater")
else:
    print("Enter valid input")

In [ ]:
#TO CHECK EVEN OR ODD USING NESTED IF
n=int(input("Enter n = "))
if n>=0:
    if n%2==0:
        print(n,"is positive and even")
    else:
        print(n,"is positive and odd")
else:
    print(n,"is negative")

In [ ]:
#WAP TO MAKE A MARKSHEET OF SCIENCE STUDENTS USING FIVE SUBJECTS AND CALCULATING PERCENTAGE
physics=int(input("Enter marks for physics = "))
chemistry=int(input("Enter marks for chemistry = "))
math=int(input("Enter marks for maths = "))
english=int(input("Enter marks for english = "))
nepali=int(input("Enter marks for nepali = "))

total = physics + chemistry + math + english + nepali
per=total/5

if per>=80:
    print("A GRADE")
elif per>=60:
    print("B GRADE")
elif per>=40:
    print("C GRADE")
else:
    print("FAILED")

In [ ]:
#FOR LOOP

In [ ]:
#WAP TO PRINT EVEN NUMBERS
for i in range(0,11):
    if i%2==0:
        print(i)

In [ ]:
n=int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

In [ ]:
n=int(input("Enter n = "))
fact=1
if n==0:
    print(fact)

elif n>0:
    for i in range(n,0,-1):
        fact=fact*i
    print(fact)
elif n<0:
    print("Enter a positive value")

In [ ]:
a="Python"
for i in a:
    print(i)

In [ ]:
a="Hello World I am Python"
for i in a:
    if i!=' ':
        print(i,end="")

In [ ]:
a="Hello World I am Python"
for i in a:
    if i!=' ' and i!='l':
        print(i,end="")

In [ ]:
a=[[1,2,3],
  [4,5,6],
  [7,8,9]]
print(a)
print(type(a))
print(len(a))
print(a[0])
print(a[0][0])

In [ ]:
a=[[1,2,3,4,5],
  [4,5,6],
  [7,8]]
b=[1,1,1]
c=a+b
print(c)

In [ ]:
a=[[1,2,3,4,5],
  [4,5,6],
  [7,8]]
b=[[1,1,1]]
c=a+b
print(c)

In [ ]:
a=[["Ram",23,"Kathmandu"],
 ["Shyam",34,"Pokhara"],
 ["Nabin",24,"Bhaktapur"]]

In [ ]:
print(a[0])

In [ ]:
for i in a:
    print(i)

In [ ]:
a=[["Ram",23,"Kathmandu"],
 ["Shyam",34,"Pokhara"],
 ["Nabin",24,"Bhaktapur"]]
name=input("Enter name = ").lower()
for i in a:
    if name in i[0].lower():
        print(i)

In [ ]:
#WAP TO STORE DATA
a=[]
n=int(input("Enter the number of customers = "))
for i in range(n):
    name=input("Enter your name = ")
    age=int(input("Enter your age = "))
    location=input("Enter your address = ")
    data=[name,age,location]
    a.append(data)
print(a)

In [ ]:
#WHILE LOOP

In [ ]:
#MULTIPLICATION TABLE USING WHILE LOOP
i=1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+0.5

In [ ]:
i = 0
s=0
n=int(input("Enter n = "))
while i<n:
    x=int(input("Enter x = "))
    s=s+x
    i=i+1
print(s)

In [ ]:
i=0
a="Python"
l=len(a)
while i<l:
    print(a[i],end="")
    i=i+1

In [ ]:
i=0
a="Hello World I am Python"
l=len(a)
while i<l:
    if a[i]!=" ":
        print(a[i],end="")
    i=i+1

In [ ]:
i=0
a=input("Enter text: ")
l=len(a)
while i<l:
    if a[i]!=" ":
        print(a[i],end="")
    i=i+1

In [ ]:
#DICTIONARIES
# --indexed
# --Multiple value and duplicate value
# --Ordered
# --Multiple

In [ ]:
# d={<key>:<value>,<key>:<value>}

In [ ]:
d={"a":"Apple","b":"Ball"}
print(d)
print(type(d))

In [ ]:
d={"a":"Apple","b":"Ball"}
d["a"]

In [ ]:
d={"a":"Apple","b":"Ball"}
print(len(d))

In [32]:
d={"a":"Apple","b":"Ball","a":"Ant"}
print(d)#if key is repeated, then the position is replaced by the latest key value pair

{'a': 'Ant', 'b': 'Ball'}

In [33]:
# d=dict()
d={}
d["a"]="Apple"
d["b"]="Ball"
d["c"]="Cat"
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [34]:
for i in d:
    print(i)#Only key is printed

a
b
c

In [35]:
for i in d.values():
    print(i)#Only values are printed

Apple
Ball
Cat

In [36]:
for i in d.items():
    print(i)#Both key and values are printed

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [37]:
for i in d:
    print(i)
    print(d.values()) #only the values are printed

a
dict_values(['Apple', 'Ball', 'Cat'])
b
dict_values(['Apple', 'Ball', 'Cat'])
c
dict_values(['Apple', 'Ball', 'Cat'])

In [38]:
a=[1,2,3]
b=[4,5,6]

In [39]:
d=[("a","Apple"),("b","Ball"),("c","Cat")]
dict(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [ ]:
#WAP to input phone number and name by using dictionary
d={}
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    phone=input("Enter phone = ")
    d[phone]=name
print(d)

In [ ]:
d={'9': 'p', '8': 'u'}
d['7']='k'
print(d)

In [ ]:
#del pop(for picking up-->can be deleted and copies to next place) for dictionaries

In [ ]:
d={'9': 'p', '8': 'u'}
del d['9']
d

In [ ]:
a={'9':"s",'10':"t"}
b=a.pop('9')
b

In [ ]:
# list inside dictionary
a={"Ram":[9864684,98354138],
  "Shyam":[98842638186,54621845]}

In [ ]:
# dictionary inside list
a=[{"Name":"Ram","Age":23},
  {"Name":"Shyam","Age":45}]

In [ ]:
# * +

In [ ]:
a="Hello World\n"
print(a*2)

In [ ]:
a="Hello "
b="World"
c=a+b
print(c)

In [ ]:
#STRING SLICING
a="hello World"
print(a[0])

In [ ]:
a="hello World"
print(a[0:6])

In [ ]:
a="hello world"
x=a[:6]
y=a[6:]
print(x)
print(y)

In [ ]:
a="Hello World"
print(a[::2])

In [ ]:
a="Hello World"
a[::-1] #Not good process

In [ ]:
#STRING FORMATTING BUT ONLY FOR VARIABLES
a="Hello"
b=7
c=f"{a} {b}"
print(type(c))

In [ ]:
name=input("Enter name = ")
age=int(input("Enter age = "))
add=input("Enter address = ")

info=f"Hello World I am {name}. I am from {add}. I am {age} years old."
print(info)
print(type(info))

In [ ]:
a="Ram Shyam Hari Sita Gita"
if "Ram" in a:
    print("YES")
    print(a.count("Ram"))

In [ ]:
a="Ram Shyam Hari Sita Gita ram"
search= input("Enter search = ").lower()
if search in a.lower():
    print("YES",a.lower().count(search))
print(a.lower())
print(a)#IMMUTABLE DATA TYPE(CAN ONLY BE CHANGED FORCEFULLY.)

In [ ]:
# wap to develop billing system
# name
# price
# quality
# total

In [ ]:
grand_total=0
bill=""
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    price=int(input("Enter price = "))
    quantity=int(input("Enter quantity = "))
    total=price*quantity
    grand_total=grand_total+total
    data = f"{name} {price} {quantity} {total}\n"
    bill= bill+data
print(bill)
print("Grand total = ",grand_total)

In [ ]:
a="Ram Shyam Hari Sita Gita ram".lower()
search= input("Enter search = ").lower()
if search in a:
    print("YES",a.count(search))
print(a)

In [ ]:
a="Ram Shyam Hari Sita Gita Ram"
a=a.replace("Ram","Rama")
print(a)

In [ ]:
a="ram shyam hari sita gita ram"
print(a.title())#For Capitalize

In [ ]:
a="Python"
for i in a:
    print(i,end="")

In [ ]:
a="Ram Shyam Hari Sita Gita Ram"
a.split(' ')#ONLY IF THERE IS SPACE

In [ ]:
a="Ram-Shyam-Hari-Sita-Gita-Ram"
a.split('-')#ONLY IF THERE IS SPACE

In [ ]:
#LIST
# -Indexing
# -Ordered
# -Multiple and duplicate
# -Mutable

In [ ]:
l=[1,2,3,4]
print(type(l))

In [ ]:
a=["Apple","Ball","Cat","Dog"]
print(a[0:3])

In [ ]:
a=["Apple","Ball"]
b=["Cat","Dog"]
c=a+b
print(c)
c=b+a #Ordered(ORDER MATTERS)
print(c)

In [ ]:
#append() insert() extend()
a=list()
a.append("Apple")#APPEND ADDS TO LAST
a.append("Ball")
a.append("Cat")
print(a)

In [ ]:
a=['Apple', 'Ball', 'Cat']
a.insert(1,"Ant")#INSERT CAN ADD ANYWHERE
a

In [ ]:
a=['Apple', 'Ball', 'Cat']
b=['Dog','Cat','Fish']
a.extend(b)
print(a)
b.extend(a)
print(b)

In [ ]:
# wap to create a result management system

In [ ]:
a=[]
n=int(input("Enter n = "))
for i in range(n):
    x=int(input("Enter x = "))
    a.append(x)
print(a)

In [ ]:
print("The max value =",max(a))
print("The min value =",min(a))
print("The sum value =",sum(a))
a.sort()
a.reverse()
print(a)

In [ ]:
print("Max =",a[0])
print("Min =",a[-1])

In [ ]:
a=[]
n=int(input("Enter n = "))
for i in range(n):
    x=input("Enter x = ")
    a.append(x)
print(a)

In [ ]:
a.sort
print(a)

In [ ]:
# update

In [ ]:
a=['apple', 'banana', 'xray', 'yak', 'zebra']
a[0]="Ant"
print(a)

In [ ]:
#del remove() and pop()
a=['Ant', 'banana', 'xray', 'yak', 'zebra']
del a[0:3]
print(a)

In [ ]:
a=['Ant', 'banana', 'xray', 'yak', "Ant", 'zebra']
a.remove("Ant")
print(a)

In [ ]:
b=[]
a=['Ant', 'banana', 'xray', 'yak', "Ant", 'zebra']
for i in a:
    if i!= "Ant":
        b.append(i)
print(b)

In [ ]:
#CALCULATE INDEX OF THE REQUIRED ELEMENT
a=['Ant', 'banana', 'xray', 'yak', "Ant", 'zebra']
for i in range(len(a)):
    if a[i]=="Ant":
        print(i)

In [ ]:
a.count("Ant")

In [ ]:
a.count("Ant"),a.count("xray")

In [ ]:
a="He's good"
print(a)

In [ ]:
#a=[['Coke',100,2,300],['Momo',150,2,300],['Pizza',300,2,600]]
#WAP to create a matrix
#row=?
#column=?

In [ ]:
m=[]
r=int(input("Enter r = "))
c=int(input("Enter c = "))
for i in range(r):
    n=[]
    for j in range(c):
        x = int(input("Enter x = "))
        n.append(x)
    m.append(n)
print(m)

In [ ]:
#WAP to create
# a=((1,2,3),
#   (4,5,6),
#   (7,8,9))

In [ ]:
m=()
r=int(input("Enter r = "))
c=int(input("Enter c = "))
for i in range(r):
    n=()
    for j in range(c):
        x = int(input("Enter x = "))
        n=n+(x,)
    m=m+(n,)
print(m)

In [ ]:
#list inside dict
a={"Ram":[966684688,989846538],
  "Shyam":[68468489,6846846351]}

In [ ]:
d={}
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    ntc=int(input("Enter ntc = "))
    ncell=int(input("Enter ncell = "))
    value=[ntc,ncell]
    key=name
    d[key]=value
print(d)

In [ ]:
# Note: THE KEY IN DICTIONARY BE A IMMUTABLE DATA TYPES

In [ ]:
d = {'Ram': [987987, 69849], 'Shyam': [684684, 351648]}
d["Ram"]

In [ ]:
d = {'Ram': [987987, 69849], 'Shyam': [684684, 351648]}
d["Ram"]=[684141,351813]
print(d)

In [ ]:
d = {'Ram': [987987, 69849], 'Shyam': [684684, 351648]}
d["Ram"][1]=9496541531135
print(d)

In [ ]:
d = {'Ram': [987987, 69849], 'Shyam': [684684, 351648]}
del d["Ram"][1]
print(d)

In [ ]:
#set
# -no indexing
#-no duplicate value
# -unordered
# -mutable

In [ ]:
s={1,2,3}
type(s)

In [ ]:
s=set()

In [ ]:
a={1,2,3,4,5,6}
print(a[0]);#This runs error because set cannot be indexed as they are in random order

In [ ]:
a={11,1,2,3,4,5,6}
print(a)

In [ ]:
a={"Apple","Ball","Cat","Zebra"}
print(a)

In [ ]:
a=set()
a.add("apple")
print(a)

In [ ]:
a={"Apple","Cat","Ball","Zebra"}
b={"Zebra","Dog"}
a.update(b)
print(a)

In [ ]:
a={"Apple","Cat","Ball","Zebra"}
a.remove("Apple")
print(a)

In [ ]:
a=[1,2,5,6,2,3,9,5,6,2,2]
b=set(a)
a=list(b)
print(a)

In [ ]:
U={'Balen', 'Gates', 'Gita', 'Hari', 'Jobs', 'Nabin', 'Pankaj', 'Ram', 'Shyam','Mike','John'}
apple={"Ram","Shyam","Hari","Jobs","Nabin"}
ms={"Gates","Pankaj","Gita","Balen","Shyam","Nabin"}

apple.union(ms)

In [ ]:
apple.intersection(ms)

In [ ]:
apple.difference(ms)

In [ ]:
ms.difference(apple)

In [ ]:
U={'Balen', 'Gates', 'Gita', 'Hari', 'Jobs', 'Nabin', 'Pankaj', 'Ram', 'Shyam','Mike','John'}
apple={"Ram","Shyam","Hari","Jobs","Nabin"}
ms={"Gates","Pankaj","Gita","Balen","Shyam","Nabin"}
U.difference(apple.union(ms))

In [ ]:
apple={"Ram","Shyam","Hari","Jobs","Nabin"}
ms={"Gates","Pankaj","Gita","Balen","Shyam","Nabin"}
c=apple.intersection(ms)
print(c)

In [ ]:
(apple.union(ms)).difference(c)

In [ ]:
s={(1,2,3)}
s
#Inside set,only immutable data type can stay
#Set is also mutable data type,so it cannot stay inside set

In [ ]:
s={(1,{2},3)}
s

In [ ]:
#CRUD==>Create, Read, Update, delete

In [ ]:
#Function

In [ ]:
# def <function_name>():      --defining function
#     <operation>

#function()                   --calling function

In [ ]:
def hello():
    print("Hello World")
hello()

In [ ]:
def hello():
    print("Hello World")
hello()
hello()

In [ ]:
l= int(input("Enter l = "))     #global varible
b= int(input("Enter b = "))     #global varible

def area():
    a=l*b
    print(a)
area()

In [ ]:
l= int(input("Enter l = "))     
b= int(input("Enter b = "))    
h=int(input("Enter h = "))
def area():
    a=l*b
    print(a)
def volume():
    v=l*b*h
    print(v)
area()
volume()

In [ ]:
def area():
    l=int(input("Enter l = "))      #Local variable
    b=int(input("Enter b = "))      #Local variable
    a=l*b
    print("This is inside function",a)
    
area()
print("This is outside function",a)

In [ ]:
def area():
    global a
    l=int(input("Enter l = "))      #Local variable
    b=int(input("Enter b = "))      #Local variable
    a=l*b                           #Now, this is global variable
    print("This is inside function",a)
    
area()
print("This is outside function",a)

In [ ]:
a=10
def fun():
    a=5
    print(a)
fun()
print(a)

In [ ]:
a=10
def fun():
    global a
    a=5
    print(a)
fun()
print(a)

In [ ]:
# print() int() str() float() bool() append() sort() max() min()  ->predefined function

In [ ]:
def hello(x):              #Parameter
    print(x)
hello("Hello World")       #Argument

In [ ]:
#Function with but no return type
def area(l,b):
    a=l*b
    print(a)
l=int(input("Enter l = "))
b=int(input("Enter b = "))
area(x,y)

In [ ]:
def language(lan="Python"):
    print(lan)
language("C++")
language("C")
language("Java")
language()

In [ ]:
#Function with return type
def area():
    l=int(input("Enter l = "))      #Local variable
    b=int(input("Enter b = "))      #Local variable
    a=l*b
    return a
    
ar=area()
print(ar)

In [ ]:
#FILE Handling

In [ ]:
#Syntax
# b=open('<file_name>','<modes>'):
# b.close()

In [ ]:
# #Syntax
# with open('<file_name>','<modes>') as f:
#     <operation>

In [ ]:
# r-->read file
# a-->append
# w-->write
# x-->create

In [ ]:
try:
    b=open('data.txt','x')
    b.close()
except:
    print("Error occured")

In [ ]:
b=open('data.txt','r')
x=b.read()
print(x)
print(type(x))
b.close()

In [ ]:
import math as m
try:
    x=int(input("Enter x = "))
    print(m.pow(x,2))
except:
    print("Enter only int data")

In [ ]:
b=open('datas.txt','w')
b.write("Hello")
b.close()

In [ ]:
n=int(input("Enter n = "))
bill=""
for i in range(n):
    name=input("Enter name = ")
    price=int(input("Enter price = "))
    quantity=int(input("Enter quantity = "))
    total=price*quantity
    data=f"{name}{price}{quantity}{total}\n"
    bill=bill+data
print(bill)

In [ ]:
b=open('datas.csv','w')
b.write('Product,Price,Quantity,Total\n')
b.write(bill)
b.close()

In [ ]:
file=open('datas.csv')
x=file.read()
print(x)
file.close()

In [ ]:
print(x)
x.split('x')

In [ ]:
data=x.split('\n')[0:-1]
print(data)

In [ ]:
for i in data:
    print(i.split(','))

In [ ]:
final_data=[]
for i in data:
    y=i.split(',')
    final_data.append(y)
final_data

In [ ]:
final_data[1]

In [ ]:
for i in final_data:
    if "coke" in i:
        print(i)

In [ ]:
#WAP to create a csv file for result management system using CRUD

In [ ]:
# CSV AND PANDAS

In [1]:
try:
    b=open('data.csv','x')
    b.close()
except:
    pass

In [2]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df)
# print(df.head(3))
print(df.tail(3))

   SN    Name   Age      Address       Phone
0   1     Ram    44    Kathmandu  9808998976
1   2   Shyam    33    Bhaktapur  9808667654
2   3    Hari    57         Bara  9867667653
3   4   Nabin    23      Chitwan  9809766765
4   5   Sabin    56    Kathmandu    98677654
5   6    Sita    34        Jhapa  9808778765
   SN    Name   Age     Address       Phone
3   4   Nabin    23     Chitwan  9809766765
4   5   Sabin    56   Kathmandu    98677654
5   6    Sita    34       Jhapa  9808778765

In [16]:
import pandas as pd
df=pd.read_csv('data.csv',index_col='SN')
df.head(5)

      Name   Age      Address       Phone
SN
1      Ram    44    Kathmandu  9808998976
2    Shyam    33    Bhaktapur  9808667654
3     Hari    57         Bara  9867667653
4    Nabin    23      Chitwan  9809766765
5    Sabin    56    Kathmandu    98677654

In [18]:
import pandas as pd
data=pd.read_csv('data.csv',index_col='SN')
data[(data['Name']=='Hari')|(data['Name']=='Shyam')]

     Name   Age      Address       Phone
SN
2   Shyam    33    Bhaktapur  9808667654
3    Hari    57         Bara  9867667653

In [1]:
import pandas as pd
data=pd.read_csv('data.csv',index_col='SN')
data=data[data['Age']>50]
data.to_csv('new_data.csv')

In [6]:
#CSV MANIPULATION USING PANDAS

In [7]:
x=open('data.scv','x')
b.close()

FileExistsError: [Errno 17] File exists: 'data.scv'

In [9]:
try:
    x=open('data.csv','x')
    b.close()
except:
    pass

In [12]:
import pandas as pd
df=pd.read_csv('data.csv')
df

   Sn   Name  Age    Address       Phone
0   1    Ram   23  Kathmandu  9808998976
1   2  Shyam   56  Bhaktapur  9808667654
2   3   Hari   57       Bara  9867667653
3   4  Nabin   23    Chitwan  9809766765
4   5  Sabin   56  Kathmandu    98677654
5   6   Sita   34      Jhapa  9808778765

In [15]:
import pandas as pd
df=pd.read_csv('data.csv')
# df.head(3)
df.tail(3)

   Sn   Name  Age    Address       Phone
3   4  Nabin   23    Chitwan  9809766765
4   5  Sabin   56  Kathmandu    98677654
5   6   Sita   34      Jhapa  9808778765

In [16]:
#INDEX_COL as reference
import pandas as pd
df=pd.read_csv('data.csv',index_col='Sn')
df.head()

     Name  Age    Address       Phone
Sn
1     Ram   23  Kathmandu  9808998976
2   Shyam   56  Bhaktapur  9808667654
3    Hari   57       Bara  9867667653
4   Nabin   23    Chitwan  9809766765
5   Sabin   56  Kathmandu    98677654

In [17]:
#USECOLS help to choose only the required columns
import pandas as pd
df=pd.read_csv('data.csv',index_col='Sn',usecols=['Sn','Name','Phone']) #the index_col should be compulasory used in usecols
df.head()

     Name       Phone
Sn
1     Ram  9808998976
2   Shyam  9808667654
3    Hari  9867667653
4   Nabin  9809766765
5   Sabin    98677654

In [20]:
#CONCEPT OF LOC AND ILOC
import pandas as pd
df=pd.read_csv('data.csv',index_col='Sn')
df.iloc[2:4] #iloc slices according to index. iloc is used to take out data from any part. slicing as same as list slicing

     Name  Age  Address       Phone
Sn
3    Hari   57     Bara  9867667653
4   Nabin   23  Chitwan  9809766765

In [22]:
import pandas as pd
data=pd.read_csv('data.csv',index_col='Sn')
data.loc[2:4]  #LOC works on the basis of index_cols.The number goes upto the maximum range

     Name  Age    Address       Phone
Sn
2   Shyam   56  Bhaktapur  9808667654
3    Hari   57       Bara  9867667653
4   Nabin   23    Chitwan  9809766765

In [23]:
import pandas as pd
df=pd.read_csv('data.csv',index_col='Sn')
df['Age']

Sn
1    23
2    56
3    57
4    23
5    56
6    34
Name: Age, dtype: int64

In [24]:
import pandas as pd
df=pd.read_csv('data.csv',index_col='Sn')
df[df['Age']>50]

     Name  Age    Address       Phone
Sn
2   Shyam   56  Bhaktapur  9808667654
3    Hari   57       Bara  9867667653
5   Sabin   56  Kathmandu    98677654

In [25]:
import pandas as pd
df=pd.read_csv('data.csv',index_col='Sn')
df[(df['Name']=='Hari') | (df['Name']=='Shyam')]

     Name  Age    Address       Phone
Sn
2   Shyam   56  Bhaktapur  9808667654
3    Hari   57       Bara  9867667653

In [32]:
import pandas as pd
data=pd.read_csv('data.csv',index_col='Sn')
data = data[data['Age']>50]
data.to_csv('new_data.csv')

In [3]:
import pandas as pd
data={'Name':['Ram','','Bhaktapur'],
     'Age':[23,45,34],
     'Address':['Kathmandu','Patan','Bhaktapur']}

df=pd.DataFrame(data)
df

        Name  Age    Address
0        Ram   23  Kathmandu
1              45      Patan
2  Bhaktapur   34  Bhaktapur

In [4]:
df.to_csv('info.csv')

In [6]:
import csv
fields=['Kamal','28','Baluwatar']
with open('boooks.csv', 'a') as f:
    x = csv.writer(f)
    x.writerow(fields)

In [7]:
# r-->read file
# a-->append
# w-->write
# x-->create

In [12]:
import csv
fields=[['Name','Age','Address'],
       ['Ram',34,'Kathmadu'],
       ['Shyam',45,'Kathmandu']]
with open('boooks.csv', 'w') as f:
    x = csv.writer(f)
    for i in fields:
        x.writerow(i)

In [16]:
import csv
with open('boooks.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print(dict(row))

{'Name': 'Ram', 'Age': '34', 'Address': 'Kathmadu'}
{'Name': 'Shyam', 'Age': '45', 'Address': 'Kathmandu'}

In [19]:
import csv
all_data=[]
with open('boooks.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        all_data.append(dict(row))
        
all_data

[{'Name': 'Ram', 'Age': '34', 'Address': 'Kathmadu'},
 {'Name': 'Shyam', 'Age': '45', 'Address': 'Kathmandu'}]

In [21]:
import pandas as pd
df1 = pd.DataFrame({'Names': ['Andreas', 'George', 'Steve',
                           'Sarah', 'Joanna', 'Hanna'],
                   'Age':[21, 22, 20, 19, 18, 23]})
df2 = pd.DataFrame({'Names': ['Pete', 'Jordan', 'Gustaf',
                           'Sophie', 'Sally', 'Simone'],
                   'Age':[22, 21, 19, 19, 29, 21]})
df3 = pd.DataFrame({'Names': ['Ulrich', 'Donald', 'Jon',
                           'Jessica', 'Elisabeth', 'Diana'],
                    'Age':[21, 21, 20, 19, 19, 22]})
df = pd.concat([df1, df2, df3], keys =['Group1', 'Group2', 'Group3'],
               names=['Group', 'Row Num']).reset_index()
df.to_csv('boooks.csv')

In [1]:
#OOPS CONCEPT

In [2]:
class Hello:     #class
    print("Hello World")
    
obj=Hello()      #object

Hello World

In [4]:
class Hello:
    def hello(self):   #self(we can use any name) lets the method to use the properties of its class 
                       #method are the functions inside class
        print("Hello World")
        
obj=Hello()             #object
obj.hello()             #accessing method using object of the class

Hello World

In [5]:
class Hello:
    @staticmethod     #this rule should be used exaactly used just over the method that doesnot uses the properties of the clas
    def hello():      #This is called decorator
        print("Hello World")
        
obj=Hello()             #object
obj.hello()

Hello World

In [9]:
class Cal:
    def area(self,l,b):#self should be the first parameter in the function.Self overrides & it uses the properties of the class
        a=l*b
        print(a)
    def volume(self,l,b,h):
        v=l*b*h
        print(v)
        
l=int(input("Enter l = "))
b=int(input("Enter b = "))
h=int(input("Enter h = "))
obj=Cal()
obj.area(l,b)
obj.volume(l,b,h)

Enter l = 4
Enter b = 5
Enter h = 6
20
120

In [10]:
class Area:
    def __init__(self):
        pass
    def area(self):
        pass
    
obj=Area()

In [ ]:
class Area:
    def __init__(self):  #init allows to initialize properties of class
        self.l=int(input("Enter l = ")) #self. is used to specify that the property is the part of the init
        self.b=int(input("Enter b = "))
    def area(self,l,b):
        print(a)
    def volume(self,l,b,h):
        v=l*b*h
        print(v)
        
l=int(input("Enter l = "))
b=int(input("Enter b = "))
h=int(input("Enter h = "))
obj=Cal()
obj.area(l,b)
obj.volume(l,b,h)

In [15]:
class Area:
    def __init__(self):
        self.l=int(input("Enter l = "))
        self.b=int(input("Enter b = "))
    def area(this):
        a=this.l*this.b
        print(a)

obj=Area()
obj.area()

Enter l = 4
Enter b = 5
20

In [19]:
class Area:
    def __init__(self):
        self.l=int(input("Enter l = "))
        self.b=int(input("Enter b = "))
    def volume(this,h):
        v=this.l*this.b*h
        print(v)

obj=Area()
obj.volume(2) #if argument used them parameter should include that term
print(obj.l,obj.b)  #property of class can be called by the object

Enter l = 4
Enter b = 5
40
4 5

In [4]:
class Volume:
    def __init__(self,l,b,h):
        self.l=l
        self.b=b
        self.h=h
        
    def volume(this):
        v=this.l*this.b*this.h
        print(v)
        
    def area(self):
        a=self.l*self.b
        print(a)
        
l=int(input("Enter l = "))
b=int(input("Enter b = "))
h=int(input("Enter h = "))
obj=Volume(l,b,h)  #When object is formed it automatically initializes __init__ function
obj.volume() 
obj.area()
print(obj.l,obj.b)

Enter l = 100
Enter b = 50
Enter h = 5
25000
5000
100 50

In [5]:
#INHERITANCE

In [ ]:
class A:  #Parent or base class
    pass
class B(A):  #Inherited or derived class
    pass
obj=B() #We form the object of the lowermost inherited class

In [6]:
class A:
    def __init__(self):
        self.name=input("Enter name= ")
        self.age=int(input("Enter age= "))
        
class B(A):
    def hello(self):
        print(f"Hello World I am {self.name}. I am {self.age} years old.")
        
obj=B()
obj.hello()

Enter name= Pukar Chhatkuli
Enter age= 21
Hello World I am Pukar Chhatkuli. I am 21 years old.

In [7]:
#Multi level inheritance-->one inheritance at a time
class A:
    print("This is class A")
class B(A):
    print("This is class B")
class C(B):
    print("This is class C")

obj=C()

This is class A
This is class B
This is class C

In [9]:
#Multiple inheritance-->
class A:
    print("This is class A")
class B:
    print("This is class B")
class C(B,A):
    print("This is class C")

obj=C()

This is class A
This is class B
This is class C

In [17]:
class A:
    def __init__(self,add):
        self.add=add
        
    def my_add(self):
        return self.add
        
class B(A):
    def __init__(self,name,age,add):
        self.name=name
        self.age=age
        A.__init__(self,add) #This step to compulsory to send the (add) argument to class A
        
    def hello(self):
        print(f"Hello World I am {self.name}. I am {self.age} years old. I live in {self.add}.")
        

name=input("Enter name= ")
age=int(input("Enter age= "))
add=input("Enter add= ")

obj=B(name,age,add)
obj.hello()
address = obj.my_add()
print(f"My address is {address}")

Enter name= Pukar Chhatkuli
Enter age= 21
Enter add= Kathmandu
Hello World I am Pukar Chhatkuli. I am 21 years old. I live in Kathmandu.
My address is Kathmandu

In [5]:
class A:
    def __init__(self,add):
        self.add=add
        
    def my_add(self):       # It is recommended to add at least one function
        return self.add
        
class B(A):
    def __init__(self,age,add):
        self.age=age
        A.__init__(self,add)
    def my_info(self):
        print(f"Hello World I am Ram. I am {self.age} years old. I am from {self.add}")

class C(B):
    def __init__(self,name,age,add):
        self.name=name
        B.__init__(self,age,add) #This step to compulsory to send the (add) argument to class A
        
    def hello(self):
        print(f"Hello World I am {self.name}. I am {self.age} years old. I live in {self.add}.")
        

name=input("Enter name= ")
age=int(input("Enter age= "))
add=input("Enter add= ")

obj=C(name,age,add)
obj.my_info()
obj.hello()

Enter name= Pukar Chhatkuli
Enter age= 21
Enter add= Kathmandu
Hello World I am Ram. I am 21 years old. I am from Kathmandu
Hello World I am Pukar Chhatkuli. I am 21 years old. I live in Kathmandu.

In [2]:
# Date:5/27

In [1]:
# Date:5/30

In [3]:
#Public incapsulation
class Info():
    def __init__(self,name,age,add):
        self.name=name
        self.age=age
        self.add=add
        
obj=Info("Ram",23, "Kathmandu")
print(obj.name)
print(obj.age)
print(obj.add)

Ram
23
Kathmandu

In [8]:
#Protected incapsulation
class Info():
    def __init__(self,name,age,add):
        self._name=name
        self._age=age
        self._add=add
        
obj=Info("Ram",23,"kathmandu")
print(obj._name) #Protected properties can be acessed by using _(single underscore) anywhere
print(obj._age)
print(obj._add)

Ram
23
kathmandu

In [12]:
#Private incapsulation
class Info():
    def __init__(self,name,age,add):
        self.__name=name
        self.__age=age
        self.__add=add
        
obj=Info("Ram",23,"kathmandu")
print(obj._Info__name)#Private properties can be only be acessed only inside same class inside other function.But we can also acess it other place by using (_class-name__).
                #This method is called name memmbling
print(obj._Info__age)
print(obj._Info__add)

Ram
23
kathmandu

In [16]:
class A:
    def __init__(self):
        self.name=input("Enter name = ")
        self._age=int(input("Enter age = "))
        self.__add=input("Enter add = ")
        
    def a(self):
        print(f"Helloo World I am {self.name}. I am from {self.__add}. I am {self._age} years old")
        
class B(A):
    def hello(self):
        print(f"Hello World I am {self.name}. I am {self._age} years old.")
        
obj=B()
obj.hello()
obj.a()

Enter name = Pukar Chhatkuli
Enter age = 21
Enter add = Kathmandu
Hello World I am Pukar Chhatkuli. I am 21 years old.
Helloo World I am Pukar Chhatkuli. I am from Kathmandu. I am 21 years old

In [20]:
class Parrot:
    def fly(self):
        print("Parrot can fly")
    def swim(self):
        print("Parrot can't swim")
        
class Penguin:
    def fly(self):
        print("Penguin can't fly")
    def swim(self):
        print("Penguin can swim")
        
#common interface
def flying_test(bird):
    bird.fly()
def swimming_test(bird):
    bird.swim()
    
#instantiate objects
blu=Parrot()
peggy=Penguin()
#passing the object
flying_test(blu)
flying_test(peggy)
swimming_test(blu)
swimming_test(peggy)

Parrot can fly
Penguin can't fly
Parrot can't swim
Penguin can swim